.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label {
    margin-bottom: 0.6em;
    font-weight: bold;
}

.form_control input {
    padding: 0.7em;
    border-radius: 5px;
    border: 1px solid black;

}

.form_control input::placeholder {
    color: #7b7b7b;
}

.btnLink {
    background-color: #222;
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5;
    border-radius: 5px;
}

.btnLink:hover {
    color: #ffbb33;
}