.container-contact {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

.container-contact h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.container-contact p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}
.container-contact h1{
    text-align: center;
}
.contact-info {
    margin-bottom: 30px;
}

.contact-info h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
}

.contact-form h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.contact-form button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

.contact-form button:hover {
    background-color: #0056b3;
}